name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Inject Secrets
        env:
          FB_CONFIG: ${{ secrets.FIREBASE_CONFIG }}
        run: |
          perl -i -pe "s|// GITHUB_ACTION_PLACEHOLDER|window.envConfig = $FB_CONFIG;|g" index.html
          perl -i -pe "s|// GITHUB_ACTION_PLACEHOLDER|window.envConfig = $FB_CONFIG;|g" admin.html
          perl -i -pe "s|// GITHUB_ACTION_PLACEHOLDER|window.envConfig = $FB_CONFIG;|g" dashboard.html

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: .
          branch: gh-pages
