name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Inject Firebase Config
        env:
          # This safely loads the secret as an environment variable first
          FB_CONFIG: ${{ secrets.FIREBASE_CONFIG }}
        run: |
          # We use a different separator ( # ) and pearl-style regex to handle multi-line secrets safely
          perl -i -pe "s|// GITHUB_ACTION_PLACEHOLDER|$ENV{FB_CONFIG}|g" index.html

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: .
          branch: gh-pages
