name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Inject Firebase Config
        env:
          FB_CONFIG: ${{ secrets.FIREBASE_CONFIG }}
        run: |
          sed -i "s|// GITHUB_ACTION_PLACEHOLDER|$FB_CONFIG|g" index.html
          sed -i "s|// GITHUB_ACTION_PLACEHOLDER|$FB_CONFIG|g" admin.html
          sed -i "s|// GITHUB_ACTION_PLACEHOLDER|$FB_CONFIG|g" dashboard.html
          echo "Injection complete."

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: .
          branch: gh-pages
